.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff; /* fundo escuro como o IMDB */
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.logo {
  background-color: #f5c518; /* amarelo IMDb */
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
}

.logo span {
  color: #000;
}

.logo a{
    text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #5c5656;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #686763; /* destaque ao passar o mouse */
}
