body {
  background-color: #f8ede3;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background-color: #b5838d;
  border: none;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #9e6c77;
}

.form-control:focus {
  border-color: #b5838d;
  box-shadow: 0 0 0 0.2rem rgba(181, 131, 141, 0.25);
}
